/* Element followed property change */



body{


    background-color: rgb(160, 204, 223);
    color: rgb(16, 2, 11);
    border: 25px solid rgb(18, 4, 4);
    margin: 30px;


    }      


    a{

    color:  rgb(208, 191, 39);
    text-decoration: rgb(236, 255, 173);

    }   

    h1{
        color: darkviolet;
        margin: auto;
        margin-left: 500px;

    }

    main {
    width: 50%;
    color: rgb(138, 182, 182);
    text-decoration: solid;
    border: 1px;
    margin: bottom 500px;

    div{

        text-decoration-color: rgb(165, 42, 63);
    }

    

    img{

        width: 50px
        
        

    }
    
    P {
        color: beige;

    }




}